@media screen and (max-width: 560px){
    header h2{
        display: none;
    }
    #figure-one{
    float: none;
    width: 100%;
    padding-bottom: 2em;
    }
    #figure-two{
    float: none;
    width: 100%;
    padding-bottom: 2em;
    }
}